@font-face {
    font-family: 'FontAwesome';
    src: url('fontawesome-webfont.ttf');
}

.toolbar-button {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 10pt;
}

.draw-canvas {
    -fx-background-color: white;
}