@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.ttf');
}

.toolbar-button {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 10pt;
}

.draw-canvas {
}

.anchor {
    -fx-fill: #99b3e6;
    -fx-opacity: 80%;
}