@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.ttf');
}

.toolbar-button {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 10pt;
}

.draw-stub {
  -fx-background-color: rgb(191, 191, 191);
}
.draw-pane {
}

.snap-grid-pane {
    -fx-background-color: white;
}

.grid-line {
    -fx-stroke: rgb(204, 204, 204);
    -fx-stroke-width: 2px;
}

.anchor {
    -fx-fill: #99b3e6;
    -fx-opacity: 80%;
}

.selection-rectangle {
  -fx-stroke: black;
  -fx-fill: null;
  -fx-stroke-dash-array: 5 5 5;
}

.tool-bar:hover{
    -fx-cursor: default;
}

.key-label {
    -fx-font-weight: bold;
}
.msg-label {

}

.none-stroke {
  -fx-stroke: null;
}
.solid-stroke {
  -fx-stroke-dash-array: null;
}
.dash-stroke {
  -fx-stroke-dash-array: 15 15 15;
}
.dotted-stroke {
  -fx-stroke-dash-array: 8 15;
}
.dash-dotted-stroke {
  -fx-stroke-dash-array: 15 15 8 15;
}
.dash-dotted-dotted-stroke {
  -fx-stroke-dash-array: 15 15 8 15 8 15;
}
